<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- #ifdef _xml_preprocess -->
    <!--
    -->
    <!-- #else -->
    <add key="Testing_UseIisExpress" value="True" />
    <add key="Testing_HostSite" value="Service1" />
    <add key="Testing_HostSiteApplicationPool" value="Clr4IntegratedAppPool" />
    <add key="Testing_SlnRoot" value="C:\VSProjects\WorkflowDemo" />
    <add key="Testing_BaseUrl" value="http://localhost:3065/" />
    <!-- #endif -->
  </appSettings>

  <system.net>
    <!--Used by http client components. If enabled=true, the first connection might take a few seconds as the client tries to locate proxy.-->
    <defaultProxy enabled="true">
      <proxy bypassonlocal="False" usesystemdefault="True" />
      <bypasslist />
      <module />
    </defaultProxy>

    <connectionManagement>
      <!--For a good value, refer to http://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.aspx-->
      <add address="*" maxconnection="64"/>
    </connectionManagement>
  </system.net>

  <system.serviceModel>
    <bindings>

    </bindings>
    <client>
      <endpoint address="http://localhost:3065/Service1.xamlx" binding="basicHttpBinding" contract="Fonlow.WorkflowDemo.Clients.IService" name="DefaultBinding_Workflow"/>
    </client>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
