<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding_IService1"
                contract="Fonlow.WcfServic1.Client.IService1" name="DefaultBinding_IService1_IService1" />
        </client>
    </system.serviceModel>
</configuration>