<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <sqlWorkflowInstanceStore
                    connectionString="Server =localhost; Initial Catalog = WF; Integrated Security = SSPI"
                    instanceEncodingOption="GZip"
                    instanceCompletionAction="DeleteAll"
                    instanceLockedExceptionAction="AggressiveRetry"
                    hostLockRenewalPeriod="00:00:02"
                    runnableInstancesDetectionPeriod="00:00:02"/>

        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <system.diagnostics>
    <sharedListeners>
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" template="{LocalDateTime:HH':'mm':'ss} [{Thread}] {EventType} {Source}: {Message}{Data}" initializeData="%AllUsersProfile%\Fonlow\logs\ContractFirst_{LocalDateTime:yyyy-MM-dd}.log"/>
    </sharedListeners>

    <sources>
      <source name="System.Activities" switchValue="Information">
        <listeners>
          <add name="rollingfile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning">
        <listeners>
          <add name="rollingfile"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default"/>
        <add name="rollingfile"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
