<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" template="{LocalDateTime:HH':'mm':'ss} [{Thread}] {EventType} {Source}: {Message}{Data}" initializeData="%AllUsersProfile%\Fonlow\logs\Workflow_{LocalDateTime:yyyy-MM-dd}.log"/>
    </sharedListeners>

    <sources>
      <source name="System.Activities" switchValue="Information">
        <listeners>
          <add name="rollingfile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning">
        <listeners>
          <add name="rollingfile"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default"/>
        <add name="rollingfile"/>
      </listeners>
    </trace>
  </system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
