<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
          <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" 
               template="{LocalDateTime:HH':'mm':'ss} [{Thread}] {EventType} {Source}: {Message}{Data}" 
               initializeData="%AllUsersProfile%\Fonlow\logs\Workflow_{LocalDateTime:yyyy-MM-dd}.log" />
       <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>